.top-search{
    margin-top: 20px;
    color: #8392a5 !important;
}
.top-search input{
    background-color: #1f1f1f !important;
    border: 2px solid #8392a5;
    box-shadow: 0 0 5px 5px #1f1f1f;
    border-radius: 40px !important;
    z-index: 1000 !important;
    color: #8392a5 !important;
    padding: 5px 15px;
}
.top-search input::placeholder{
    color: #8392a5 !important;
}
.form-control:focus{
    color: #cab7b7 !important;
}
.top-search .input-group{
    position: relative;
    overflow: hidden;
}
.input-group-append{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    z-index: 1000;
    border: none !important;
    border-radius: 50%;
}
.input-group-append .btn .fa{
    color: rgb(149, 146, 146) !important;
}
.input-group-append .btn:hover .fa{
    color: rgb(199, 196, 196) !important;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    border: none !important;
    border-color: transparent !important;
}