{% comment %} {% extends 'base.html' %} {% endcomment %}
{% block content %}
<h2>Sites</h2>

{% for site in sites %}
    <div>
        <h3><a href="{% url 'sites:site_detail' site.id %}">{{ site.name }}</a></h3>
        <p>{{ site.about }}</p>
        <p>Categories: 
            {% for category in site.categories.all %}
                <span>{{ category.name }}</span>
            {% endfor %}
        </p>
        <p>Safe Percentage: {{ site.safe_percentage }}%</p>
    </div>
{% endfor %}

{% endblock %}
