body{
    background-color: #262626;
    position: relative;
}
.MainSpace {
    height: 100%;
    display: flex;
}

.NavbarSpace {
    margin: 20px 0 20px 20px;
    max-width: 256px;
    width: auto; /* Flexible width */
    flex-shrink: 0; /* Prevent shrinking */
}

.ContentSpace {
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1; /* Takes the remaining space */
    min-width: 0; /* Prevents content from growing beyond the container */
    display: flex;
    flex-direction: column; /* Keep children stacked properly */
}
